<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><strong><i>Ahmadou MBAYE</i></strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/formation">Formation</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarExperiences" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Experiences
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Projets Professionnels</a>
          <a class="dropdown-item" href="#">Projets Académiques</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarCompetences" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Compétences
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Langages</a>
          <a class="dropdown-item" href="#">Frameworks</a>
          <a class="dropdown-item" href="#">SGBD</a>
          <a class="dropdown-item" href="#">Technologies</a>
        </div>
      </li><li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarAutres" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Autres
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Certifications</a>
        <a class="dropdown-item" href="#">Langues</a>
        <a class="dropdown-item" href="#">Centre d’intérêts</a>
      </div>
    </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>