<h1 style="text-align: center">
    <i style="color: #FF5733;">FORMATION </i>  <br>
</h1>
<table class="table table-striped table-dark" style="table-layout: fixed; width: 100%; height: 300px;">
    <thead>
      <tr>
        <th scope="col">Année</th>
        <th scope="col">Niveau d'étude</th>
        <th scope="col">Intitulé de la Formation</th>
        <th scope="col">Université</th>
        <th scope="col">Ville</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" style="color: #FF5733;">2021 - 2022</th>
        <td>Master 2</td>
        <td>MIAGE (Méthodes Informatiques Appliquées à la Gestion des Entreprises)</td>
        <td>IUP MIAGE d’Aix-Marseille Université</td>
        <td style="color: #FF5733;">Marseille</td>
      </tr>
      <tr>
        <th scope="row" style="color: #FF5733;">2020 - 2021</th>
        <td>Master 1</td>
        <td>MIAGE (Méthodes Informatiques Appliquées à la Gestion des Entreprises)</td>
        <td>IUP MIAGE d’Aix-Marseille Université</td>
        <td style="color: #FF5733;">Aix En Provence</td>
      </tr>
      <tr>
        <th scope="row" style="color: #FF5733;">2019 - 2020</th>
        <td>Licence 3</td>
        <td>MIAGE (Méthodes Informatiques Appliquées à la Gestion des Entreprises)</td>
        <td>IUP MIAGE d’Aix-Marseille Université</td>
        <td style="color: #FF5733;">Aix En Provence</td>
      </tr>
      <tr>
        <th scope="row" style="color: #FF5733;">2018 - 2019</th>
        <td>Licence 2</td>
        <td>Informatique</td>
        <td>Faculté des sciences d’Aix-Marseille Université</td>
        <td style="color: #FF5733;">Aix En Provence</td>
      </tr>
      <tr>
        <th scope="row" style="color: #FF5733;">2017 - 2018</th>
        <td>Licence 1</td>
        <td>Mathématique & Informatique</td>
        <td>Faculté des sciences d’Aix-Marseille Université</td>
        <td style="color: #FF5733;">Marseille</td>
      </tr>
    </tbody>
  </table>
